<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="footer bg-light border-top py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="left d-flex align-items-center">
            <div class="icon mr-2">B</div>
            <div>&copy; 2024 CODEHACK, Inc</div>
        </div>
        
        <div class="social-icons d-flex">
            <a href="https://www.hackerrank.com/profile/kishorkonaraddi1" class="ml-3 text-dark">
                <img src="https://gdm-catalog-fmapi-prod.imgix.net/ProductLogo/8b9fc1fa-bb42-45c6-957b-3b6611c542f1.png?ixlib=react-9.0.3&ch=Width%2CDPR&auto=format&w=1074" alt="HackerRank" width="20">
            </a>
            
            <a href="https://github.com/Kishor-J-K" class="ml-3 text-dark">
                <img src="https://s.yimg.com/zb/imgv1/1a0d1629-cdce-359c-81fe-b83c39d6c2da/t_500x300" alt="Github" width="20">
            </a>
            
            <a href="https://www.linkedin.com/in/kishor-j-k-85b810252" class="ml-3 text-dark">
                <img src="https://image.pngaaa.com/708/1947708-middle.png" alt="Linkdin" width="20">
            </a>
        </div>
    </div>
</div>